<h1 class="page-header">Articles</h1>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Published</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.published %></td>
          <td><%= article.category.name %></td>
          <td><%= link_to 'Show', [:admin, article] %>
          <%= link_to 'Edit', edit_admin_article_path(article) %>
          <%= link_to 'Destroy', [:admin, article], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Article', new_admin_article_path, class: "btn btn-primary" %>
