<!DOCTYPE html>
<html>
	<head>
		<title>Tekton News - Admin</title>
		<%= stylesheet_link_tag "admin/admin", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "admin/admin", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper">
            <%= render "layouts/admin/navbar" %>
			<div id="page-wrapper">
                <%= render "layouts/admin/messages" %>
				<%= yield %>
			</div>
		</div>
	</body>
</html>
